In [16]:
import sqlite3

In [17]:
try:
    # Connect to DB and create a cursor
    sqliteConnection = sqlite3.connect("../dbs/test_xm_data.db")
    conn = sqliteConnection
    cursor = sqliteConnection.cursor()
    print('DB Init')

except sqlite3.Error as error:
    print('Error occurred - ', error)

DB Init

In [6]:
conn.execute(
    """
CREATE TABLE master_table (
    id INT IDENTITY(1,1) PRIMARY KEY,
    metricId VARCHAR(255),
    MetricName VARCHAR(255),
    Entity VARCHAR(255),
    Type VARCHAR(255),
    Filter VARCHAR(255),
    MetricUnits VARCHAR(255),
    MetricDescription VARCHAR(255)            
)
"""
)

conn.commit()

In [7]:
conn.execute(
"""
CREATE TABLE monthly_entity (
    id INTEGER,
    value REAL,
    date VARCHAR(255),
    metricName VARCHAR(255))
"""
)

conn.commit()

In [8]:
conn.execute(
    """
CREATE TABLE daily_entity (
    id INTEGER,
    value REAL,
    id_recurso VARCHAR(255),
    date VARCHAR(255),
    metricName VARCHAR(255))
"""
)

conn.commit()

In [19]:
conn.execute(
    """ 
    DELETE FROM hourly_entity;
    """
)
conn.commit()

In [9]:
conn.execute(
    """
CREATE TABLE hourly_entity (
    id INTEGER,
    id_recurso VARCHAR(1000),
    Values_Hour01 REAL,
    Values_Hour02 REAL,
    Values_Hour03 REAL,
    Values_Hour04 REAL,
    Values_Hour05 REAL,
    Values_Hour06 REAL,
    Values_Hour07 REAL,
    Values_Hour08 REAL,
    Values_Hour09 REAL,
    Values_Hour10 REAL,
    Values_Hour11 REAL,
    Values_Hour12 REAL,
    Values_Hour13 REAL,
    Values_Hour14 REAL,
    Values_Hour15 REAL,
    Values_Hour16 REAL,
    Values_Hour17 REAL,
    Values_Hour18 REAL,
    Values_Hour19 REAL,
    Values_Hour20 REAL,
    Values_Hour21 REAL,
    Values_Hour22 REAL,
    Values_Hour23 REAL,
    Values_Hour24 REAL,                                
    date VARCHAR(255),
    metricName VARCHAR(255))
"""
)

conn.commit()

In [13]:
from pydataxm.pydataxm import ReadDB

objetoAPI = ReadDB()

In [14]:
df_metrics = objetoAPI.get_collections()[
    [
        "MetricId",
        "MetricName",
        "Entity",
        "Type",
        "Filter",
        "MetricUnits",
        "MetricDescription",
    ]
]
for i in df_metrics.iterrows():
    conn.execute(
        """
    INSERT INTO master_table (MetricId, MetricName, Entity, Type, Filter, MetricUnits, MetricDescription)
    VALUES (?, ?, ?, ?, ?, ?, ?)
    """,
        (
            i[1].to_dict()["MetricId"],
            i[1].to_dict()["MetricName"],
            i[1].to_dict()["Entity"],
            i[1].to_dict()["Type"],
            i[1].to_dict()["Filter"],
            i[1].to_dict()["MetricUnits"],
            i[1].to_dict()["MetricDescription"],
        ),
    )
    conn.commit()

In [23]:
import pandas as pd

df = pd.read_sql_query("SELECT * FROM monthly_entity", conn)
df

     id     value        date                metricName
0  None  88.75800  2025-01-01           CEE por Sistema
1  None   3.30427  2025-01-01  FAZNI Precio por Sistema